:root {
    font-size: 16px;
}

body {
    background-color: rgb(173, 216, 230);
    font-family: Arial;
    margin: 0;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

header p{
    font-size: 200%;
}