body {
    background-color: rgb(173, 216, 230);

    font-family: 'DejaVu Sans';
    font-size: 18dp;

    margin: 0;
    width: 100%;
    height: 100vh;
}

#status-bar {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;
}

.status-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #dbe2ea;
    color: black;

    border-color: black;
    border-width: 1px;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-item p:last-child {
    margin-top: auto;
}


#pause-button {

    width: 50px;
    height: 50px;

    background-color: blue;
    border-radius: 25px;
    border-width: 1px;
    border-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}