:root {
    font-size: 16dp;
}

body {
    background-color: rgb(173, 216, 230);
    /* оставляем */
    font-family: Arial;
    margin: 0dp;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* немного воздуха */
    padding-left: 24dp;
    padding-right: 24dp;
    padding-bottom: 24dp;
    padding-top: 24dp;

    box-sizing: border-box;
}

#head {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* аккуратная “шапка” */
    /* padding: 18dp 16dp;
     */
    padding-top: 24dp;
    padding-bottom: 24dp;
    margin-bottom: 24dp;

    background-color: rgba(255, 255, 255, 89);

    border-width: 2dp;
    border-color: rgba(0, 0, 0, 89);
    border-radius: 16dp;
    box-sizing: border-box;
}

h1 {
    margin: 0dp;
    color: black;

    /* вместо 700% — предсказуемый размер */
    font-size: 50dp;
    font-weight: bold;
    text-align: center;
}

#main {
    width: 100%;
    max-width: 720dp;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14dp;
    margin-bottom: 24dp;

    padding-left: 20dp;
    padding-right: 20dp;
    padding-top: 30dp;
    padding-bottom: 30dp;

    background-color: rgba(0, 0, 0, 26);
    border: 2dp rgba(0, 0, 0, 64);
    border-radius: 18dp;
    box-sizing: border-box;
}

.menu-button {
    width: 100%;
    height: 100dp;
    line-height: 76dp;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30dp;
    font-weight: bold;
    text-align: center;

    border-width: 2dp;
    border-color: rgba(0, 0, 0, 230);
    border-radius: 12dp;

    background-color: rgb(0, 90, 220);
}

.menu-button:hover {
    background-color: rgb(0, 75, 195);
}

.menu-button:active {
    background-color: rgb(53, 160, 0);
}

#foot {
    width: 100%;

    margin-top: auto;

    padding-left: 10dp;
    padding-right: 10dp;
    padding-top: 10dp;
    padding-bottom: 10dp;

    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 77);
    border: 2dp rgba(0, 0, 0, 64);
    border-radius: 16dp;

    box-sizing: border-box;
}

.footMenu {
    width: 50%;
    color: black;
    font-size: 16dp;
}

.footMenu:first-child {
    text-align: left;
}

.footMenu:last-child {
    text-align: right;
}