/* Общие настройки */
body {
    margin: 0px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: Arial;
    font-size: 18dp;

    background-color: rgb(173, 216, 230);
}

/* Шапка / футер фиксированы, скролл только в #games */
#header {
    flex: 0 0 80dp;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1 {
    margin: 0px;
    font-size: 32dp;
    color: black;
}

#footer {
    flex: 0 0 90dp;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8dp;
}

.exit-b {
    flex: 1 1 0;
    height: 100%;
    margin: 0px 6dp;

    font-size: 20dp;
    font-weight: bold;

    color: white;
    background-color: rgb(0, 80, 200);

    border: 2dp black;
    border-radius: 10dp;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exit-b:active {
    background-color: red;
}

/* СКРОЛЛ-ЗОНА */
#games {
    flex: 1 1 auto;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 10dp;
}

/*statistic*/

/* -------------------------------
   ВАЖНО: стили скроллбаров
   -------------------------------
   RmlUi при overflow:auto создаёт дочерний элемент 'scrollbarvertical'.
   Если не задать ширину, он может занять всю область (auto),
   и будет выглядеть как "всё сломалось". :contentReference[oaicite:3]{index=3}
*/

/* Вертикальный скроллбар только внутри #games */
#games scrollbarvertical {
    width: 14dp;
}

/* Уберём кнопки-стрелки (по желанию) */
#games scrollbarvertical sliderarrowdec,
#games scrollbarvertical sliderarrowinc {
    width: 0px;
    height: 0px;
}

/* Дорожка */
#games scrollbarvertical slidertrack {
    margin-left: 2dp;
    width: 10dp;
    background-color: rgb(200, 200, 200);
    border-radius: 10dp;
}

/* Ползунок */
#games scrollbarvertical sliderbar {
    margin-left: 2dp;
    width: 10dp;
    min-height: 24dp;
    /* чтобы не становился слишком маленьким */
    background-color: rgb(120, 120, 120);
    border-radius: 10dp;
}