<root>
    <object id="1">
        <meta level="1" points="1" />
        <form type="rectangle" width="92.0" height="39.9" />
        <filler type="texture" texture="rub5.png" />
    </object>
    <object id="2">
        <meta level="2" points="5" />
        <form type="rectangle" width="119.6" height="51.8" />
        <filler type="texture" texture="rub10.png" />
    </object>
    <object id="3">
        <meta level="3" points="10" />
        <form type="rectangle" width="155.5" height="67.4" />
        <filler type="texture" texture="rub50.png" />
    </object>
    <object id="4">
        <meta level="4" points="50" />
        <form type="rectangle" width="202.1" height="87.6" />
        <filler type="texture" texture="rub100.png" />
    </object>
    <object id="5">
        <meta level="5" points="10" />
        <form type="rectangle" width="262.7" height="113.9" />
        <filler type="texture" texture="rub200.png" />
    </object>
    <object id="6">
        <meta level="6" points="200" />
        <form type="rectangle" width="341.5" height="148.1" />
        <filler type="texture" texture="rub500.png" />
    </object>
    <object id="7">
        <meta level="7" points="500" />
        <form type="rectangle" width="444.0" height="192.5" />
        <filler type="texture" texture="rub1000.png" />
    </object>
    <object id="8">
        <meta level="8" points="1000" />
        <form type="rectangle" width="577.2" height="250.2" />
        <filler type="texture" texture="rub2000.png" />
    </object>
    <object id="9">
        <meta level="9" points="2500" />
        <form type="rectangle" width="750.4" height="325.3" />
        <filler type="texture" texture="rub5000.png" />
    </object>
</root>