<root>

    <object id="1" level="1" texture="kop1.png" points="1">
        <form type="circle" radius="10" />
    </object>
    <object id="2" level="2" texture="kop5.png" points="5">
        <form type="circle" radius="20" />
    </object>
    <object id="3" level="3" texture="kop10.png" points="10">
        <form type="circle" radius="30" />
    </object>
    <object id="4" level="4" texture="kop50.png" points="50">
        <form type="circle" radius="40" />
    </object>
    <object id="5" level="5" texture="rub1.png" points="10">
        <form type="circle" radius="50" />
    </object>
    <object id="6" level="6" texture="rub2.png" points="200">
        <form type="circle" radius="60" />
    </object>
    <object id="7" level="7" texture="rub5.png" points="500">
        <form type="circle" radius="70" />
    </object>
    <object id="8" level="8" texture="rub10.png" points="1000">
        <form type="circle" radius="80" />
    </object>
    <object id="9" level="9" texture="rub25.png" points="2500">
        <form type="circle" radius="90" />
    </object>
    <object id="10" level="10" texture="rub50.png" points="5000">
        <form type="circle" radius="100" />
    </object>

</root>